body{
    background-color: black;
    color: aliceblue;
     /* border: 2px solid white; */
     /* position: relative; */
 } 
header{
    width: 500px;
    position: relative;
    top: 50px;
    left: 300px;
     /* border: 2px solid white; */
}
h1{
    display: inline-block;
    font-size: 50px;
     /* border: 2px solid white; */

}
#list{
    display: inline-block;
    font-family:inherit;
    font-size: 30px;
    /* border: 2px solid white; */
}
.noitem{
    width: 400px;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 300px;
     /* border: 2px solid white; */

}
.plus{
    height: 50px;
    width: 50px;
    position: absolute;
    right:300px;
    top: 20px;
   background-color: blue;
   border-radius: 50%;
   color: aliceblue;
   
}
 #add{
    position: absolute;
    left: 12px;
    font-weight: bolder;
    font-size: 40px;
    top: 0;
    
}
.additem{
    /* float: right; */
     font-size: 30px;
   position: absolute;
    right:170px;
    top: 25px; 
    
} 
button.btn1,.taskbutton1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: bold;
    border: 3px solid black;
    background-image: linear-gradient(to right,rgba(165, 21, 21, 0.68),rgba(43, 115, 146, 0.521));
   position: relative;
   left: 280px;
   top: 50px;  
    
  }   
 h2,.title{
    color:rgba(183, 38, 38, 0.941);
    font-size: 30px;
    text-align: center;

}  
  #userinput,#newinputvalue{
    width: 390px;
    height: 20px;  
     color:black;  
   }  
.hide{
    display: none;
}  

 #popupbox,#popupboxnew{ 
    height: 230px;
    width: 400px;
    position: fixed;
    border-radius: 20px;
     background-color: aliceblue;
    left: 500px;
    top: 250px;
    border: 8px solid gray;
    z-index: 1;
    
   
 } 
#container{
     width: 1000px;
     margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
     align-items: center; 
     /* border: 2px solid WHITE; */
   

}
.card{
    height: 250px;
    width: 250px;
    border: 5px solid red;
    border-radius: 20px;
    background-color: aliceblue;
} 
#btn3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    /* border: 3px solid black; */
    position: relative;
    left: 170px;
    top: 110px; 
    background-image: linear-gradient(to right,rgba(165, 21, 21, 0.68),rgba(43, 115, 146, 0.521));
}
.btn4{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
       /* border: 3px solid black; */
    position: relative;
    left: 180px;
    top: 110px; 
    background-image: linear-gradient(to right,rgba(165, 21, 21, 0.68),rgba(43, 115, 146, 0.521));
}
.line{
   height: 5px;
    background-color: gray;
}
.high{
    height: 30px;
    /* border: 2px solid black; */

}